{% extends 'base.html' %}

{% block title %}{{ task.id }}{% endblock %}

{% block navbar %}
    <a class="navbar-brand" href="{% url 'task_page' %}">Task Page</a>
{% endblock %}

{% block content %}
    <h1>Подробнее об этом:</h1>
    <div class="container">
        <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">{{ task.status }}</div>
            <div class="card-body">
                <h5 class="card-title">{{ task.description }}</h5>
                <p class="card-text">{{ task.super_description }}</p>
                <p class="card-text">{{ task.date_done }}</p>
            </div>
        </div>
    </div>
    
{% endblock %}
