{% extends 'base.html' %}

{% block title %}Tasks{% endblock %}

{% block navbar %}
    <a class="navbar-brand" href="{% url 'task_create' %}">Create Task</a>
{% endblock %}

{% block content %}
    <h1>Вaши задачи:</h1>
    {% for task in tasks %}
        <div class="container">
            <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">{{ task.status }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ task.description }}</h5>
                    <p class="card-text">{{ task.date_done }}</p>
                    <a href="{% url 'detail_view' task.pk %}" style="text-decoration: none; color: white">Подробнее...</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
